<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


    <servlet>
        <servlet-name>addClass</servlet-name>
        <servlet-class>addclass.addclass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addClass</servlet-name>
        <url-pattern>/addClass</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>chat</servlet-name>
        <servlet-class>chat.chat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>chat</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editproduct</servlet-name>
        <servlet-class>editproduct.editproduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editproduct</servlet-name>
        <url-pattern>/editproduct</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>showecharts</servlet-name>
    <servlet-class>showecharts.showecharts</servlet-class>
</servlet>
    <servlet-mapping>
    <servlet-name>showecharts</servlet-name>
    <url-pattern>/showecharts</url-pattern>
</servlet-mapping>
    <servlet>
        <servlet-name>saveproduct</servlet-name>
        <servlet-class>saveproduct.savproduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>saveproduct</servlet-name>
        <url-pattern>/saveproduct</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>savehome</servlet-name>
        <servlet-class>savehome.savehome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>savehome</servlet-name>
        <url-pattern>/savehome</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>reset</servlet-name>
        <servlet-class>reset.reaction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reset</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <!-- 配置Spring的核心监听器 -->
 <listener>
 	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
 
 <context-param>
 	<param-name>contextConfigLocation</param-name>
 	<param-value>classpath:applicationContext.xml</param-value>
 </context-param>
 
 <!-- 配置Struts2的核心过滤器 -->
 <filter>
 	<filter-name>struts2</filter-name>
 	<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
 </filter>
 
 <filter-mapping>
 	<filter-name>struts2</filter-name>
 	<url-pattern>*.action</url-pattern>
 	<dispatcher>REQUEST</dispatcher>
 	<dispatcher>FORWARD</dispatcher>
 </filter-mapping>
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
